.Calculator {
    background-color: #000000;
    border: 2px solid #777777;
    border-radius: 5px;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin: 1% 20% 10% 20%;
    padding: 20px;

    @media (max-width: 850px) {
        margin: 10% 5% 10% 5%;
        width: 80%;
    }
    
    h1 {
        text-align: center;
        color: #FFFFFF;
        text-shadow: 3px 3px 0px #777777;
        text-transform: capitalize;
    }

    h2 {
        color: #FFFFFF;
        text-shadow: 2px 2px 2px #777777;
        margin: 5px;
        padding: 5px;
    }

    #settings {
        color: #FFFFFF;
        background-color: #242424;
        border: 1px solid #777777;
        border-radius: 5px;
        display: flex;
        text-align: center;
        padding: 10px;

        @media (max-width: 1475px) {
            flex-direction: column;
        }
    }

    label {
        font-size: 24px;
        padding: 5px;

        @media (max-width: 850px) {
            font-size: 20px;
        }
    }

    select {
        font-size: 24px;
        border-radius: 5px;
        padding: 5px;
        option {
            font-size: 14px;
            display: flex;
        }

        @media (max-width: 850px) {
            font-size: 16px;
        }
    }

    #measures-inputs {
        display: flex;
        flex-direction: column;
        background-color: #242424;
        border: 2px solid #777777;
        padding: 10px;
        border-radius: 5px;

        label {
            color: #FFFFFF;
        }
    }

    input {
        font-size: 24px;
        padding: 5px;
        padding-left: 15px;
        border-radius: 5px;
        appearance: none;
        background-color: #FEFEFE;
        transition: 1s;
        
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
            appearance: none;
        }

        &:focus {
            border: none;
            background-color: #e4e4e4;
            transition: 1s;
        }

        @media (max-width: 850px) {
            font-size: 18px;
        }
    }

    .output-formulas-container {
        display: none;
        flex-direction: column;
        background-color: #242424;
        border: 2px solid #777777;
        border-radius: 5px;
        padding: 10px;
        margin-top: 20px;
        word-wrap: break-word;

        p {
            font-size: 22px;
            font-weight: 500;
            line-height:5vh;
            background-color: #749787;
            border-radius: 5px;
            padding: 5px;
            padding-left: 20px;
            text-align: start;
            font-family: 'Consolas';
            font-weight: 1000;

            @media (max-width: 850px) {
                font-size: 16px;
                overflow: scroll;

                mjx-math {
                    font-size: 13px;
                }
            }
        }
    }

    button {
        font-size: 30px;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 15px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: #fff239;
        border: 2px solid #5e4800;
        transition: 1s;

        &:hover {
            background-color: #cea110;
            border: 2px solid #d1bc00;
            transition: 1s;
            cursor: pointer;
        }

        @media (max-width: 850px) {
            font-size: 24px;
        }
    }
}