.Calculator {
  background-color: #000000;
  border: 2px solid #777777;
  border-radius: 5px;
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  margin: 1% 20% 10% 20%;
  padding: 20px;
}
@media (max-width: 850px) {
  .Calculator {
    margin: 10% 5% 10% 5%;
    width: 80%;
  }
}
.Calculator h1 {
  text-align: center;
  color: #FFFFFF;
  text-shadow: 3px 3px 0px #777777;
  text-transform: capitalize;
}
.Calculator h2 {
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #777777;
  margin: 5px;
  padding: 5px;
}
.Calculator #settings-table {
  color: #FFFFFF;
  background-color: #242424;
  border-radius: 5px;
  box-shadow: inset 1px 1px 0px 1px #777777, 1px 1px 0px 1px #777777;
  text-align: left;
  padding-bottom: 20px;
}
.Calculator #settings-table td {
  padding: 5px;
}
.Calculator #settings-table td:nth-child(2n) input {
  width: 70%;
}
@media (max-width: 1475px) {
  .Calculator #settings-table {
    flex-direction: column;
  }
}
.Calculator label {
  font-size: 24px;
  text-justify: center;
}
@media (max-width: 850px) {
  .Calculator label {
    font-size: 20px;
  }
}
.Calculator select {
  font-size: 24px;
  border-radius: 5px;
  padding: 5px;
  width: 75%;
}
.Calculator select option {
  font-size: 14px;
  display: flex;
}
@media (max-width: 850px) {
  .Calculator select {
    font-size: 16px;
    width: 100%;
  }
}
.Calculator #measures-inputs {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  padding: 10px;
  box-shadow: inset 1px 1px 0px 1px #777777, 1px 1px 0px 1px #777777;
  border-radius: 5px;
}
.Calculator #measures-inputs label {
  color: #FFFFFF;
}
.Calculator input {
  font-size: 24px;
  padding: 5px;
  padding-left: 15px;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FEFEFE;
  transition: 1s;
}
.Calculator input[type=checkbox] {
  transform: scale(1.5);
  padding: auto;
  padding-left: auto;
  border-radius: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}
.Calculator input::-webkit-inner-spin-button, .Calculator input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}
.Calculator input:focus {
  border: none;
  background-color: #e4e4e4;
  transition: 1s;
}
@media (max-width: 850px) {
  .Calculator input {
    font-size: 18px;
  }
}
.Calculator .output-formulas-container {
  display: none;
  flex-direction: column;
  background-color: #242424;
  border: 2px solid #777777;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  word-wrap: break-word;
}
.Calculator .output-formulas-container p {
  font-size: 22px;
  font-weight: 500;
  line-height: 5vh;
  background-color: #749787;
  border-radius: 5px;
  padding: 5px;
  padding-left: 20px;
  text-align: start;
  font-family: "Consolas";
  font-weight: 1000;
}
@media (max-width: 850px) {
  .Calculator .output-formulas-container p {
    font-size: 16px;
    overflow: scroll;
  }
  .Calculator .output-formulas-container p mjx-math {
    font-size: 13px;
  }
}
.Calculator button {
  font-size: 30px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #fff239;
  border: 2px solid #5e4800;
  transition: 1s;
}
.Calculator button:hover {
  background-color: #cea110;
  border: 2px solid #d1bc00;
  transition: 1s;
  cursor: pointer;
}
@media (max-width: 850px) {
  .Calculator button {
    font-size: 24px;
  }
}
.Calculator .tooltip {
  margin: 10px;
  transition-duration: 0.5s;
}
.Calculator .tooltip .tooltip-text {
  transition-duration: 0.5s;
  visibility: hidden;
  opacity: 0;
  font-size: 12px;
  position: absolute;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
@media (max-width: 850px) {
  .Calculator .tooltip .tooltip-text {
    width: 50%;
    background: rgb(0, 0, 0);
  }
}
.Calculator .tooltip:hover, .Calculator .tooltip:active {
  transition-duration: 0.5s;
  color: #777777;
  cursor: help;
}
.Calculator .tooltip:hover .tooltip-text, .Calculator .tooltip:active .tooltip-text {
  transition-duration: 0.5s;
  visibility: visible;
  opacity: 1;
  color: #FFFFFF;
}/*# sourceMappingURL=Calculator.css.map */